<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/default.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title>주문 관리</title>
</head>

<body>
<div layout:fragment="content" id="adminMain">
  <!-- 메인 영역 -->
  <!-- 왼쪽 사이드메뉴 -->
  <div id="adminSide">
    <ul>
      <li><a href="/admin/member">회원 관리</a></li>
      <li><a href="/admin/product">상품 관리</a></li>
      <li><a href="/admin/order">주문 관리</a></li>
    </ul>
  </div>
  <!-- 오른쪽 컨텐츠 영역 -->
  <div id="adminContent">
    <div id="adminSection">
      <div class="adminDiv">
        <h3>주문 관리</h3>
      </div>
      <div class="adminDiv2" id="tableTitle">
        <div>목록 <span id="listCount"></span>건</div>
      </div>
      <div class="adminTableWrapper">
        <table class="adminTable">
          <thead>
          <tr>
            <th>번호</th>
            <th>주문코드</th>
            <th>주문총금액</th>
            <th>임시번호</th>
            <th>주문상태</th>
            <th>주문일시</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
        window.onload = () => {
          getOrderList();
        };

        async function getOrderList() {
          const url = "/api/v1/orders";

          const res = await fetch(url);
          if (!res.ok) {
            console.error("API 요청 실패");
            return;
          }
          const data = await res.json();
          const listCountElement = document.getElementById("listCount");
          listCountElement.innerText = data.length;
          const tableBody = document.querySelector(".adminTableWrapper table tbody"); // 테이블 body 요소 선택
          tableBody.innerHTML = ""; // 기존 테이블 내용 초기화

          console.log(data);
          // API에서 받아온 데이터를 반복하여 테이블에 추가
          data.forEach((order, index) => {
            const row = document.createElement("tr");
            console.log(order.code);
            row.innerHTML = `
              <td>${index + 1}</td>
              <td>${order.code}</td>
              <td>${order.sumPrice}</td>
              <td>${order.tempId}</td>
              <td>${order.status}</td>
              <td>${order.createdAt}</td>
              <td><button class="edit-btn" onclick="redirectToUpdatePage(${order.orderId})">수정</button></td>
              <td><button class="delete-btn" onclick="deleteProduct(${order.orderId})">삭제</button></td>
          `;
            tableBody.appendChild(row);
          });
        }

        function redirectToUpdatePage(orderId) {
          location.href = "/admin/order/ord-upd/" + orderId;
        }

        async function deleteProduct(orderId) {
          const url = "/api/v1/orders/ord-del/" + orderId;

          const res = await fetch(url, {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json", // JSON 형식의 데이터 전송
            },
            // body 없음
          });

          if (!res.ok) {
            console.error("API 요청 실패");
            return;
          }
          const data = await res.json();
          alert("삭제되었습니다.");
          getOrderList();
        }
      </script>
</div>
</body>
</html>
