<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/default.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
  <head>
    <title>주문 관리</title>
  </head>

  <body>
    <div layout:fragment="content" id="adminMain">
      <!-- 메인 영역 -->
      <!-- 왼쪽 사이드메뉴 -->
      <div id="adminSide">
        <ul>
          <li><a href="/admin/member">회원 관리</a></li>
          <li><a href="/admin/product">상품 관리</a></li>
          <li><a href="/admin/order">주문 관리</a></li>
        </ul>
      </div>
      <!-- 오른쪽 컨텐츠 영역 -->
      <div id="adminContent">
        <p>주문 관리 화면입니다.</p>
      </div>
    </div>
  </body>
</html>
