<!DOCTYPE html>
<html
  lang="en"
  layout:decorate="~{layouts/default.html}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>상품 관리</title>
  </head>

  <body>
    <div layout:fragment="content" id="adminMain">
      <!-- 메인 영역 -->
      <!-- 왼쪽 사이드메뉴 -->
      <div id="adminSide">
        <ul>
          <li><a href="/admin/member">회원 관리</a></li>
          <li><a href="/admin/product">상품 관리</a></li>
          <li><a href="/admin/order">주문 관리</a></li>
        </ul>
      </div>
      <!-- 오른쪽 컨텐츠 영역 -->
      <div id="adminContent">
        <div id="adminSection">
          <div class="adminDiv">
            <h3>상품 관리</h3>
          </div>
          <div class="adminDiv2" id="tableTitle">
            <div>목록 <span id="listCount"></span>건</div>
          </div>
          <div class="adminTableWrapper">
            <table class="adminTable">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>상품명</th>
                  <th>이미지</th>
                  <th>가격</th>
                  <th>옵션</th>
                  <th>수정</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <script>
        window.onload = () => {
          getProductList();
        };

        async function getProductList() {
          const url = "/api/v1/products?productOption=" + "ALL" + "&page=" + 0 + "&size=" + 100;

          const res = await fetch(url);
          if (!res.ok) {
            console.error("API 요청 실패");
            return;
          }
          const data = await res.json();
          const listCountElement = document.getElementById("listCount");
          listCountElement.innerText = data.totalElements;
          const tableBody = document.querySelector(".adminTableWrapper table tbody"); // 테이블 body 요소 선택
          tableBody.innerHTML = ""; // 기존 테이블 내용 초기화

          // API에서 받아온 데이터를 반복하여 테이블에 추가
          data.content.forEach((product, index) => {
            const row = document.createElement("tr");
            row.innerHTML = `
            <td>${index + 1}</td>
            <td>${product.name}</td>
            <td>${product.imageUrl}</td>
            <td>${product.price}</td>
            <td>${product.option}</td>
            <td><button class="edit-btn">Edit</button></td>
            <td><button class="delete-btn">Delete</button></td>
        `;
            tableBody.appendChild(row);
          });
        }
      </script>
    </div>
  </body>
</html>
